/target/classes/com/beingzero/org/CheckBit.class
/target/classes/com/beingzero/org/ComputeAreaOfRectangle.class
/target/classes/com/beingzero/org/DigitSum.class
/target/classes/com/beingzero/org/MatrixColumnSum.class
/target/classes/com/beingzero/org/MatrixRowSum.class
/target/classes/com/beingzero/org/TransposeOfMatrix.class
